#kuromoji {
    width: 700px;
    height: inherit;
    color: #f0f0f0;
    padding: 0px;
    margin: 0px auto;
    margin-top: 50px;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14pt;
}

#kuromoji-input {
    width: 700px;
    height: 40px;
    border: none;
    /* display: block; */
    display: table-cell;
    vertical-align: middle;
    
    background: #f0f0f0;
    color: #444444;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18pt;
    outline: none;
    float: left;
}

#kuromoji-response {
    width: 700px;
    margin-top: 20px;
    height: inherit;
    border: none;
    background: #ffffff;
    color: #444444;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 18pt;
    vertical-align: middle;
}

#kuromoji-response p {
    margin: 0px;
}

#kuromoji-mode, #kuromoji-clearinput, #kuromoji-leadtext {
    margin: 2px;
    color: #444444;
    font-size: 10pt;
    border-width: 1px;
    border-style: solid;
    border-color: #ffffff;
    display: table-cell;
    vertical-align: middle;
    cursor: default;
}

#kuromoji-mode {
    float: right;
    text-align: right;
}

#kuromoji-clearinput, #kuromoji-leadtext {
    float: left;
    text-align: left;
}

#kuromoji-leadtext {
    color: #808080;
}

#kuromoji-mode:hover, #kuromoji-clearinput:hover {
    border-width: 1px;
    border-color: #f0f0f0;
    border-style: dotted;
    color: #88cc88;
}

.kuromoji-surface {
    font-size: 14pt;
    padding: 2px;
    color: #90b090;
    display: block;
    margin: 0px;
    float: left;
}

.kuromoji-features {
    font-size: 10pt;
    padding: 2px;
    color: #608060;
    display: block;
    margin: 0px;
    float: right;
}

.kuromoji-clear {
    clear: both;
}
